.tabList {
	@apply flex justify-center relative;
}

.tabList button {
	@apply text-base text-gray-scale-gray-500 font-medium p-4;
	&.active {
		@apply text-gray-scale-gray-900;
	}
}

.slider {
	transition: all 0.3s ease;
	z-index: 1;
	@apply bg-branding-success h-0.5 absolute bottom-0;

	&__line {
		transform: translate(0, -2px);
		z-index: 0;
		@apply border border-gray-scale-gray-100 absolute w-screen left-0;
	}
}

.tabContent {
	@apply flex mt-8 gap-x-32;
	.slide {
		flex: 1 1 62%;
	}
	.tabForm {
		flex: 1 1 48%;
	}
	.list {
		@apply gap-3;
		display: grid;
		grid-template-columns: auto 1fr;
	}
}
