.info {
	@apply py-4 px-6 flex gap-x-6;
	& > :nth-child(1) {
		flex: 1 1 64%;
	}
	& > :nth-child(2) {
		flex: 1 1 36%;
	}
}

.item {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: 1/6;
	row-gap: 12px;
}
