.form {
	@apply flex flex-col;
	gap: 20px;
	& > :nth-child(1) {
		flex: 1 1 52%;
		order: 2;
	}
	& > :nth-child(2) {
		flex: 1 1 48%;
		order: 1;
	}
	@media (min-width: 415px) {
		@apply flex-row;
		& > :nth-child(1) {
			order: 1;
		}
		& > :nth-child(2) {
			order: 2;
		}
	}
}
