.item {
	@apply border border-gray-scale-gray-100 transition-all
	hover:border-branding-success-dark hover:shadow-hover-item-categories;

	&:hover .button {
		opacity: 1;
	}
}

.modal {
	@apply bg-white rounded-lg flex gap-x-4  overflow-auto  p-10;
	height: min(75%, 636px);
}
.button {
	@apply absolute p-2.5 right-4 rounded-full opacity-0 transition-all bg-white;
	border: 1px solid #f2f2f2;
	&_heart {
		@apply top-4;
	}
	&_eye {
		@apply top-16;
	}
}
