.link {
	@apply flex justify-center items-center;
	min-height: calc(100vh - (12.65rem));
}

.account {
	@apply flex gap-6 mt-8 flex-col md:flex-row;
	& > :nth-child(2) {
		@media (min-width: 768px) {
			width: 19rem;
		}
	}
	& > :nth-child(3) {
		flex: 1;
	}
}
