.modal {
	@apply bg-black bg-opacity-70 fixed w-full h-full top-0 left-0 flex items-center justify-center z-10;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s;
	&_active {
		opacity: 1;
		visibility: visible;
	}
}
