.iconSearch {
	@apply absolute  left-4 font-poppins;
	top: 50%;
	transform: translate(0, -50%);
}
.circle {
	@apply absolute bg-branding-success rounded-full text-white w-5 h-5 flex justify-center items-center text-xss border border-white right-0;
}

.form {
	display: flex;
	margin: 0 20px;
	width: 37.7vw;
	max-width: 498px;
	min-width: 200px;
	input,
	label {
		width: 100%;
	}
}

.dropMenu {
	@apply relative;

	@media (hover: hover) {
		&:hover &__list {
			opacity: 1;
			visibility: visible;
		}
		&:hover &__icon {
			transform: rotate(180deg);
			@apply transition-all;
		}
	}

	&__list {
		@apply flex flex-col absolute bg-gray-scale-gray-100 bg-opacity-80  text-black rounded-sm py-1 gap-y-1 text-base transition-all;
		opacity: 0;
		visibility: hidden;

		& > * {
			@apply hover:bg-branding-success-dark hover:text-white px-2 cursor-pointer transition-all;
		}
	}
}
