.iconSearch {
	@apply absolute  left-4 font-poppins;
	top: 50%;
	transform: translate(0, -50%);
}
.circle {
	@apply absolute bg-branding-success rounded-full text-white w-5 h-5 flex justify-center items-center text-xss border border-white right-0;
}

.form {
	display: flex;
	margin: 0 20px;
	width: 37.7vw;
	max-width: 498px;
	min-width: 200px;
	input,
	label {
		width: 100%;
	}
}
