html {
	font-size: 1rem;
	@media (max-width: 1024px) {
		font-size: 0.9rem;
	}
	@media (max-width: 992px) {
		font-size: 0.7rem;
	}
}

body {
	@apply font-poppins font-normal leading-normal text-sm;
}

.container {
	max-width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
}

.tab-list {
	display: flex;
	justify-content: center;
	position: relative;
}

.tab-list button {
	padding: 1rem;
}

.tab-list button.active {
	font-weight: bold;
}

.slider {
	position: absolute;
	bottom: 0;
	height: 4px;
	background-color: blue;
	transition: all 0.3s ease;
}

.tab-content {
	margin-top: 20px;
}

.slides {
	display: flex;
	overflow-x: scroll;
}

.slide {
	min-width: 100%;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #ccc;
	margin-right: 10px;
}
