.HomeScreen {
	@apply mt-6 flex gap-x-5 h-full;
	min-height: calc(100vh - (13.65rem));
	@media (max-width: 639.98px) {
		min-height: calc(100vh - (17rem));
	}
	.fresh {
		flex-basis: 66%;
		border-radius: 10px;
		background-image: image-set(
			url(../img/BannarBig.avif) type("image/avif"),
			url(../img/BannarBig.webp) type("image/webp"),
			url(../img/BannarBig.jpj) type("image/jpj")
		);
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		&__content {
			@apply relative  max-w-md;
			padding-top: 14%;
			left: 6%;
			padding-bottom: 2%;
		}
		&__title {
			@apply font-semibold  text-white text-balance leading-tight;
			font-size: clamp(24px, 4vw, 48px);
		}
		&__text {
			@apply font-medium  text-white;
			font-size: clamp(12px, 1.5vw, 20px);
		}
		&__sale {
			@apply font-normal mt-2 text-white opacity-80;
			font-size: clamp(10px, 1.1vw, 14px);
			max-width: 20vw;
		}
		@media (max-width: 767.98px) {
			flex-basis: 100%;

			&__content {
				padding-top: 8%;
				padding-bottom: 5%;
			}
			&__sale {
				max-width: 100%;
			}
		}
		@media (max-width: 375.98px) {
			&__sale {
				max-width: 50%;
			}
			&__title {
				color: black;
			}
		}
	}

	.sale {
		background-image: image-set(
			url(../img/Bannar.avif) type("image/avif"),
			url(../img/Bannar.webp) type("image/webp"),
			url(../img/Bannar.jpj) type("image/jpj")
		);
		background-size: cover;
		background-position: left;
		background-repeat: no-repeat;
		@apply h-2/4;
		border-radius: 10px;
		&__content {
			@apply text-gray-scale-gray-900 relative;
			left: 7%;
			top: 11%;
		}
	}
	.deal {
		background-image: image-set(
			url(../img/Bannar2.avif) type("image/avif"),
			url(../img/Bannar2.webp) type("image/webp"),
			url(../img/Bannar2.jpj) type("image/jpj")
		);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 10px;
		@apply h-2/4 text-white text-center;
		&__content {
			@apply relative;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}
